.book-img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  display: block;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.card {
  width: 100%;
  max-width: 350px;
  margin: 0.5rem auto;
}

.card-body {
  padding: 0.5rem;
  text-align: center;
}

.card h5 {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 0.3rem;
}

.card p {
  font-size: 1rem;
  margin-bottom: 0.2rem;
}

#modalCover {
    height: 300px;      /* adjust height as needed */
    object-fit: cover;   /* ensures the image fills the area without distortion */
    width: auto;         /* optional, keeps natural width */
    max-width: 100%;     /* ensures it doesn't exceed modal width */
}